.container{
    background-color: #edeced;
    min-height: 100%;
}

.containerCards{
    /* border: 1px dashed red; */
    display: flex;
    justify-content: center;
    margin-top: 2em;
    
}
.title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.7em;
    margin-block-start: 2em;
    margin-block-end: 1em;
    margin-left: 2em;
}