.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-image: url('https://res.cloudinary.com/dmusnfifn/image/upload/v1693926655/portafolio/ybv2bzmqoqohhkk42rx1.jpg');
    background-size: cover;
    width: 100%;
    height: 55vh
  }
  
  .div1 {
    flex: 1;
    /* padding: 5vw 2vw; */
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(2px);
    margin-top: 5vw;
    margin-bottom: 5vw;
  }
  
  .frase1 {
    color: #ececec;
    font-family: 'Manrope', sans-serif;
    font-style: italic;
    font-size: 2vw;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  
  .frase2 {
    color: #ececec;
    font-family: 'Manrope', sans-serif;
    font-size: 1.3vw;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  
  @media only screen and (max-width: 768px) {
    .frase1 {
      font-size: 1.5vw;
    }
  
    .frase2 {
      font-size: 1vw;
    }
  }