.white {
  color: #ececec;
  /* font-family: 'Lato', sans-serif; */
  font-family: "Manrope", sans-serif;
  font-size: 4.5vw;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 4.5vw;
}

.black {
  color: #121410;
  /* font-family: 'Lato', sans-serif; */
  font-family: "Manrope", sans-serif;
  font-size: 4.5vw;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 4.5vw;
}
.text {
  border: 1px solid red;
}

.conoceme {
  width: 11.5vw;
  height: 1.8vw;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  letter-spacing: 0.1vw;
  background-color: #6d8654;
  color: #ececec;
  border-radius: 12px;
  border: 2px solid #ececec;
  margin-top: 1.2vw;
  margin-bottom: 1.2vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

.conoceme:hover {
  background-color: #58753d;
  /* border: none; */
}

.parent{
  display: flex;
  width: 100vw;
  height: 93vh;
  
}

.div1{
  margin-left: 9vw;
  margin-top: 5vh;
  margin-right: 9vw;
  width: 31vw;
  height: 35vw;
  
}

.div2{
  margin-top: 17vh;
  width: 40vw;
  height: 40vh;
}

.div3{
  margin-top: 3vw;
  display: flex;
  justify-content: center;
}

/* .parent {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 7px;
}

.div1 {
  grid-area: 1 / 2 / 8 / 6;
  
  line-height: 0.4;
}
.div2 {
  grid-area: 3 / 7 / 9 / 12;
}
.div3 {
  grid-area: 8 / 2 / 9 / 6;
  
  display: flex;
  justify-content: center;
} */

.img {
  max-width: 40vw;
  border: 5px solid #121410;
}
