/* carousel.module.css */
.carouselContainer {
    /* position: relative; */
   /*  overflow: hidden; */
    /* max-width: 100%; */
    background-color: brown;
    display: flex;
    max-width: 98%;
    min-width: 98%;
    align-items: center;

  }
  
  .carousel {
    display: flex;
    /* transition: transform 0.3s ease;  */
    background-color: blueviolet;
    min-width: 95%;
  }
  
  .carouselCard {
    flex: 0 0 33.33%; /* Ajusta este valor según la cantidad deseada de tarjetas por slide */
    padding: 10px;
    box-sizing: border-box;
    background-color: #edeced;
  }
  
  .carouselButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* background-color: aqua; */
  }
  
  .Btn {
    /* background-color: transparent; */
    background-color: aqua;
    border-radius: 0% 50% 50% 0%;
    /* border: none; */
    font-size: 24px;
    cursor: pointer;
    outline: none;
    height: 10vh
    
  }
  
  /* Añade otros estilos según tus preferencias */
  