.cardContainer{
    background-color: #edeced;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30vw;
    margin: 5px; 
    
}
.cardContainer:hover {
    box-shadow: 0px 0px 9px 5px rgba(65, 65, 65, 0.562),0px 10px 15px -3px rgba(0,0,0,0.1);
    
  }
/* -------------------------------------------------------------------------------------------------- */
.visualContainer{
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
}
.marco{
    display: flex;
    /* border: 5px solid #121410; */
    background-color: #121410;
}
.imageLink{
  /*   background-color: #0905f1; */
    background-color: transparent;
  padding: 0.4vw;
 /*  border-radius: 5px; */
  width: 100%;
  height: 100%;
    /* padding-bottom: 1px; */
}

.image{
    max-width: 100%; /* La imagen nunca será más ancha que su contenedor */
  max-height: 100%; /* La imagen nunca será más alta que su contenedor */
  height: auto; /* Mantiene la relación de aspecto */
   
    /* border-top: 5px solid #121410;
    border-left: 5px solid #121410;
    border-right: 5px solid #121410;
    border-bottom: 5px solid #121410; */

}

.containerButtons{
    display: flex;
    justify-content: space-between;
   /*  background-color: blueviolet; */
}

.buttonLink{
    text-decoration: none;
    background-color: #121410;
    color: aliceblue;
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 65%, 90% 100%, 10% 99%, 0 65%, 0 0);
    transition: all 0.4s ease;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   /*  border: none; */
    box-shadow: 0px -8px 0px 0px rgb(0, 0, 0);
    padding-top: 0px;
    padding-bottom: 0.2vw;
    width: 5vw;
    text-align: center;
    font-size: 1.3vw;
    padding-right: 1.8vw;
    padding-left: 1.8vw; 
}
/* --------------------------------------------------------------------------------------------------- */

/* .textContainer{


} */

.title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.8vw;
    margin-left: 5%;
    margin-top: 0.8vw;
    margin-bottom: 0px;
}

.description{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2vw;
    margin-left: 2%;
    margin-top: 0.2vw;
}