.main {
  margin-top: 50px; /* Ajusta según la altura de tu barra de navegación */
}
.containerNavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /*  display: flex;
    justify-content: center;
    align-items: center; */
  z-index: 100; /* Asegura que esté por encima del contenido */
}

.navBar {
  background-color: #121410;
  display: flex;
  justify-content: center;
  align-items: center;
  

  /*   padding-left: 20vw;
    padding-right: 20vw; */
}

.containerList {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  font-weight: bold;
  padding-left: 0px;
}

.item {
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  letter-spacing: 0.1vw;
  text-decoration: none; 
  color: #ebe4d2;
  transition: all 0.2s ease-in-out;
}

.item:hover {
  color: #6d8654;
}


.contentGeneral{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
  padding: 2vh;

}

.img {
  width: 60%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.description {
  background-color: #edeced;
  width: 90vw;
  /* Margenes entre el borde del contenedor y el texto */
  /* margin: 2vh; */
  border-radius: 10px;
  /* Fuente más legible */
  line-height: 1.5rem;
  max-height: 20vw;
  overflow-y: auto;
  white-space: pre-wrap;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: black;
}

/* .description{
  background-color: #edeced;
  width: 90vw;
  height: 20vw; /* 50vh 
  margin-bottom: 3%;
  border-radius: 10px;
  padding: 2vh;
  /* box-shadow: 8px 8px 4px 0px rgba(0,0,0,0.1); 
  box-shadow: 0px 0px 7px 8px rgba(0, 0, 0, 0.301);
} */

/* .text{
  max-width: 100%; 
  max-height: 100%;
  font-size: 1.5vw;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
} */
.text {
  max-width: 100%;
  max-height: 100%;
  /* Fuente más legible */
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 2vw;
}

.containerTechnologies{
  background-color:#58753d;
  width: 90vw;
  /* max-width: 1000px; */
  margin: 0 auto;
  margin-top: 5vw;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid #121410;
}

/* .containerFront{
   border: 1px solid red; 

} */


.titleTechnologies{
  
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.5vw;
  padding-left: 2vw;
  letter-spacing: 0.2vw;

}

.containerImages{
  display: flex;
  justify-content: space-around;

}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.logo{
  width: 7vw;
  height: 7vw;
  border-radius: 100%;
}

.subTitleTechnologies{
  /* margin-left: 1vw; */
  margin-top: 5px;
  margin-bottom: 0px;
  color:#edeced ;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5vw;
}