.container{
    background-color: #edeced;
    min-height: 100%;
    width: 100vw;
}

.containerCards{
    /* border: 1px dashed red; */
    display: flex;
    justify-content: space-around;
    /* margin-top: 1%; */
    
}
.title{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.7em;
    margin-block-start: 3.5%;
    margin-block-end: 3.5%; 
    margin-left: 2em;
    
}